:root {
  --primary-text-color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  overflow: hidden;
}

.main {
  background: url('https://source.unsplash.com/collection/190727') no-repeat center center fixed;
  background-size: cover;
  height: 1000px;
}

h3 {
  color: var(--primary-text-color)
}

.header {
  color: var(--primary-text-color);
  font-size: 25px;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-name {
  text-align: center;
  color: var(--primary-text-color);
  display: block;
  margin: auto;
  width: 500px;
}


#name-result {
  font-size: 40px;
  font-weight: bold;
}

.lower-row {
  margin-top: 250px;
}

#news-list {
  color: var(--primary-text-color)
}

.joke-output {
  color: var(--primary-text-color)
}

#list {
  color: var(--primary-text-color)
}

.hidden {
  display: none;
}

.row .lower-row {
  display: block;
  margin-bottom: 0;
  height: 10px;
}

.news_widget {
  margin-bottom: 0;
}